/* .overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  padding: 20px;
  background-color: #fff;
  max-width: 90%;
  margin: 100px auto;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
} */
/* .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  border-radius: 10px;
  text-align: center;
} */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(230, 216, 216, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
